extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About ISS Locator
        p.lead ISS Locator is a simple application that enables you keep track of the 
          a.lead(href="https://en.wikipedia.org/wiki/International_Space_Station") International Space Station. 
        p.lead With ISS Locator, you can view the point on a Google Map, directly below the current position of the International Space Station.
        p.lead You can also view the upcoming ISS pass-times for any place as well as recieve notifications when the ISS is around an area you're interested in.
        