extends layout
block content 
  head
    title ISS Position Map
    meta(name='viewport', content='initial-scale=1.0')
    meta(charset='utf-8')
  body
    #textcontainer
      p.lead The map indicates the current International Space Station position. <br> The International Space Station is moving at close to 28,000km/h so its location changes really fast! Wanna know where it is now? 
        a.btn.btn-info-outline.btn-sm(href='#', class='showbtn') Refresh
        script(src='/scripts/getissdata.js')    

    h3(class='data') #{pos.lat}
    h3(class='data') #{pos.long}
    #map
    script(src='/scripts/initmap.js')
    script(src=`https://maps.googleapis.com/maps/api/js?key=${apiKey}&callback=initMap`, async='', defer='')
    