nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      if !currentUser
        a.navbar-brand(href='/')
          i.icn-logo.material-icons room
          | ISS Locator
      else
        a.navbar-brand(href='/home')
            i.icn-logo.material-icons room
            | ISS Locator
      //Display content based on user authentication
      .nav-items.clearfix
        if !currentUser
          a.nav-item.nav-link(href='/about') About
          a.btn.btn-info.pull-md-right(href='/register') Sign up
      if currentUser
        div
          a.btn.btn-light.pull-md-right(href='/logout') Log out
          a.nav-item.nav-link(href='/home') Home
          a.nav-item.nav-link(href='/about') About
      else  
        a.btn.btn-info.pull-md-right(href='/login') Login
        
      
      
